* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    box-sizing: content-box !important;
}

@import "https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Latin:wght@400;600;700&display=swap";
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}
body {
    background-color: #000;
    background-image: url(assets/black_txt.png);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    transform: translateY(100px);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.title h1{
    opacity: 0.8;
    font-size: 5rem;
    color: #00fa8a;
    text-align: center;
    margin-bottom: 20px;
    inset: 10px 10px 10px 10px;
    box-shadow:inset;
    box-shadow: orange;

    /* max-width: 90vw; */
}
.title h1:hover{
    opacity: 1;
    transition: 0.5s;
}


.container>.category-container {
    margin: auto;
    border-radius: 12px;
    /* border: 1px solid rgb(255, 0, 0); */
    box-sizing: border-box;
    padding: 30px;
    max-width: 90vw;
}


.team-container {
    margin: auto;
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    box-sizing: border-box;
    padding: 30px;
    max-width: 90vw;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-justify-content: center;
}






.member-card {
    display: inline-block;
    justify-content: center;
    -webkit-justify-content: center;
    cursor: pointer;
    margin: 32px;
    min-width: 330px;
}



.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 285px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 0;

}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #000000;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 1);
    transform: scale(1.05, 1.05);
}

.card__info {
    margin-top: 50px;
    z-index: 2;
    backdrop-filter: blur(1px) saturate(100%);
    -webkit-backdrop-filter: blur(1px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.018);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 24px 10px 24px 10px;
    min-height: 120px;
}

.card__category {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fffafa;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 25px;
}
.card__author {
    text-decoration: none;
}

.card__author>img {
    /* border-radius: 2px; */
    padding-top:10px;
    padding-right: 10px;
    width: 30px;
    height: auto;
}

.site-icon {
    margin-top: 10px;
    width: 30px !important;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.5;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}



/* circular css */
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container2{

    position: relative;
    width: 50vw;
    height:50vw;
    border: 2px solid #fff;
    border-radius: 50%;

}
.container2 .icon{
    left: -50%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.container2 .icon .imgBx{
position: absolute;
width: 100px;
height: 100px; 
border-radius: 50%;
overflow: hidden;
transition: 0.5s;
border: 1px solid #fff;
box-shadow:  0 0 0 4px #222, 
0 0 0 6px #fff;
transform: rotate(calc(360deg/8 * var(--i)));
transform-origin: 28vw;
z-index: 100;
overflow: hidden;
}


.container2 .icon .imgBx.active{
box-shadow: 0 0 0 4px #222,
0 0 0 10px #02e94f;
width: 120px;
height: 120px;
}

.container2 .icon .imgBx img{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;

}
/* .container2 .icon .imgBx.active img{ */
    /* filter: grayscale(0)saturate(200%);

} */
.content{
 position: absolute;
 inset: 0;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;

}

.content::before{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3 ;
    border-right: 4px solid #fff ;
    border-radius: 50% ;
    animation: animate1 3s linear infinite ;
    z-index: 1;
    pointer-events: none;   
}
@keyframes animate1{
    0%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;
    }
}


.content::after{
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #ff1d50 ;
    border-right: 4px solid #fff ;
    border-radius: 50% ;
    animation: animate2 3s linear infinite ;
    z-index: 1;
    pointer-events: none;   
}
@keyframes animate2{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;

}
.contentBx .card2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;


}
.contentBx .card2 .imgBx{
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;

}
.contentBx .card2 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.contentBx .card2 .textBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.contentBx .card2 .textBx h2{
    position: relative;
    font-size: 1.25em;
    font-weight: 600 ;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    

}
.contentBx .card2 .textBx h2 span{
 font-size: 0.65 em ;
 color: #fff;
 font-weight: 500;
 letter-spacing: 0.1em;
 padding: 5px;
     
}
.contentBx .card2 .textBx .sci{
    display: flex;
}
.contentBx .card2 .textBx .sci li{
    margin-right: 15px;
    list-style: none;

}
.contentBx .card2 .textBx .sci li a{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.team{
    display: flex;
    justify-content: space-around;
    align-items: center;
}